<p>Hello {registration.firstname} {registration.lastname},</p>
<p>your registration for the following event has successfully been confirmed:</p>
<ul>
    <li>{event.title} - ({f:format.date(date: '{event.startdate}', format: '%d.%m.%Y - %H:%M')}  - {f:format.date(date: '{event.enddate}', format: '%d.%m.%Y - %H:%M')})</li>
</ul>
<f:if condition="{event.enableCancel}">
    <p>If you wish to cancel your registration, please open the following link:</p>
    <p>
        <f:uri.action action="cancelRegistration" arguments="{reguid: '{registration.uid}', hmac: '{hmac}'}" absolute="TRUE" controller="Event" extensionName="sfeventmgt" pluginName="Pievent" />
    </p>
</f:if>
<p>Best regards,</p>
<p><f:format.html>{settings.notification.senderSignature}</f:format.html></p>

