<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="callout callout-info">
    <div class="media">
        <div class="media-left">
                        <span class="fa-stack fa-lg callout-icon"> <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i> </span>
        </div>
        <div class="media-body">
            <h4 class="callout-title">
                <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.notify.event" /> {event.title}
            </h4>
            <div class="callout-body">
                <f:count subject="{event.registration}"/> <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.notify.recipients" />
            </div>
        </div>
    </div>
</div>

</html>