<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="callout callout-info">
    <div class="media">
        <div class="media-left">
            <span class="icon-emphasized">
                <core:icon identifier="actions-info" />
            </span>
        </div>
        <div class="media-body">
            <h4 class="callout-title">
                <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.notify.event" /> {event.title}
            </h4>
            <div class="callout-body"></div>
        </div>
    </div>
</div>

</html>
