{namespace e=DERHANSEN\SfEventMgt\ViewHelpers}
<tr class="db_list_normal">
    <td class="title">
        <a href="{e:Be.EditRecord(uid:event.uid)}" title="UID: {event.uid}">
            {event.title}
        </a>
    </td>
    <td class="startdate">
        <f:format.date format="%d.%m.%Y - %H:%M">{event.startdate}</f:format.date>
    </td>
    <td class="enddate">
        <f:format.date format="%d.%m.%Y - %H:%M">{event.enddate}</f:format.date>
    </td>
    <td class="registrationenabled">
        <f:if condition="{event.enableRegistration} == 1">
            <f:then>
                <span class="t3-icon t3-icon-status t3-icon-status-status t3-icon-status-permission-granted">&nbsp;</span>
            </f:then>
        </f:if>
    </td>
    <td class="maxparticipants">
        <f:if condition="{event.maxParticipants} == 0">
            <f:then>
                -
            </f:then>
            <f:else>
                {event.maxParticipants}
            </f:else>
        </f:if>
    </td>
    <td class="registrations">
        {event.registration->f:count()}
    </td>
    <td>
        <f:if condition="{event.enableRegistration}">
            <f:link.action action="indexNotify" arguments="{event: '{event}'}" title="{f:translate(key:'LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.notify')}">
                <span class="t3-icon sf-event-mgt-admin-notify">&nbsp;</span>
            </f:link.action>
        </f:if>
    </td>
    <td>
        <f:if condition="{event.enableRegistration}">
            <f:link.action action="export" arguments="{eventUid: '{event.uid}'}" title="{f:translate(key:'LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.export')}">
                <span class="t3-icon t3-icon-mimetypes t3-icon-mimetypes-text t3-icon-text-csv">&nbsp;</span>
            </f:link.action>
        </f:if>
    </td>
</tr>