<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:e="http://typo3.org/ns/DERHANSEN/SfEventMgt/ViewHelpers"
      data-namespace-typo3-fluid="true">

<tr>
    <td class="event-icon">
        <core:icon overlay="{event.backendIconOverlay}" identifier="ext-sfeventmgt-event" size="small" />
    </td>
    <td class="title">
        <a href="{be:uri.editRecord(uid: event.uid, table: 'tx_sfeventmgt_domain_model_event')}" title="UID: {event.uid}">
            {event.title}
        </a>
    </td>
    <td class="startdate">
        <f:format.date format="%d.%m.%Y %H:%M">{event.startdate}</f:format.date>
    </td>
    <td class="enddate">
        <f:format.date format="%d.%m.%Y %H:%M">{event.enddate}</f:format.date>
    </td>
    <td class="registrationenabled">
        <f:if condition="{event.enableRegistration} == 1">
            <core:icon identifier="actions-check-square" size="small" />
        </f:if>
    </td>
    <td class="maxparticipants">
        <f:if condition="{event.maxParticipants} == 0">
            <f:then>
                -
            </f:then>
            <f:else>
                {event.maxParticipants}
            </f:else>
        </f:if>
    </td>
    <td class="registrations">
        {event.registration->f:count()}
    </td>
    <td>
        <div class="btn-group">
            <f:if condition="{event.enableRegistration} && !{event.hidden} && {e:be.isActionEnabled(action: 'notify', settings: settings)}">
                <f:link.action action="indexNotify" arguments="{event: '{event}'}" class="btn btn-default btn-sm" title="{f:translate(key:'LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.notify')}">
                    <core:icon identifier="actions-envelope" size="small" />
                </f:link.action>
            </f:if>
            <f:if condition="{event.enableRegistration} && {e:be.isActionEnabled(action: 'export', settings: settings)}">
                <f:link.action action="export" arguments="{eventUid: '{event.uid}'}" class="btn btn-default btn-sm" title="{f:translate(key:'LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.export')}">
                    <core:icon identifier="actions-file-csv-download" size="small" />
                </f:link.action>
            </f:if>
        </div>
    </td>
</tr>

</html>
