<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{settings.notification.disabled}">
    <div class="callout callout-danger">
        <div class="media">
            <div class="media-left">
                <span class="icon-emphasized">
                    <core:icon identifier="actions-exclamation" />
                </span>
            </div>
            <div class="media-body">
                <h4 class="callout-title">
                    <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.notificationsDisabled.title" />
                </h4>
                <div class="callout-body">
                    <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.notificationsDisabled.description" />
                </div>
            </div>
        </div>
    </div>
</f:if>

</html>
