# Exclude build/test files from archive
/.github          export-ignore
/.Build           export-ignore
/Tests            export-ignore
/.crowdin.yml     export-ignore
/.gitignore       export-ignore
/.scrutinizer.yml export-ignore
