includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - Classes/
        - Configuration/

    bootstrapFiles:
        - %rootDir%/../../typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php
