parameters:
  ignoreErrors:
    -
      message: "#Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContextInterface\\:\\:getControllerContext\\(\\)\\.#"
      path: Classes/ViewHelpers/*
    -
      message: "#Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:between\\(\\)\\.#"
      count: 4
      path: Classes/Domain/Repository/EventRepository.php
    -
      message: "#Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Context\\\\AspectInterface\\:\\:getId\\(\\)\\.#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Context\\\\AspectInterface\\:\\:getId\\(\\)\\.#"
      count: 1
      path: Classes/Controller/EventController.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Registration\\:\\:\\$fieldValues \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Registration\\\\FieldValue\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Registration.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$category \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Category\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$related \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$registration \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Registration\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$registrationWaitlist \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Registration\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$registrationFields \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Registration\\\\Field\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$image \\(iterable\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$files \\(iterable\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$additionalImage \\(iterable\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$speaker \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Speaker\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Property DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\Event\\:\\:\\$priceOptions \\(iterable\\<DERHANSEN\\\\SfEventMgt\\\\Domain\\\\Model\\\\PriceOption\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Event.php
    -
      message: "#^Return type \\(bool\\) of method DERHANSEN\\\\SfEventMgt\\\\Controller\\\\AdministrationController\\:\\:getErrorFlashMessage\\(\\) should be compatible with return type \\(string\\) of method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ActionController\\:\\:getErrorFlashMessage\\(\\)$#"
      count: 1
      path: Classes/Controller/AdministrationController.php
