includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - Classes/
        - Configuration/

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
    checkGenericClassInNonGenericObjectType: false

    bootstrapFiles:
        - %rootDir%/../../typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php
