parameters:
	ignoreErrors:
		-
			message: "#^Method DERHANSEN\\\\SfEventMgt\\\\Command\\\\CleanupExpiredCommand\\:\\:configure\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/CleanupExpiredCommand.php

		-
			message: "#^Method DERHANSEN\\\\SfEventMgt\\\\Command\\\\CleanupGdprCommand\\:\\:configure\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/CleanupGdprCommand.php

		-
			message: "#^Method DERHANSEN\\\\SfEventMgt\\\\Controller\\\\EventController\\:\\:initializeAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Controller/EventController.php

		-
			message: "#^Method DERHANSEN\\\\SfEventMgt\\\\Controller\\\\EventController\\:\\:initializeSaveRegistrationAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Controller/EventController.php

		-
			message: "#^Method DERHANSEN\\\\SfEventMgt\\\\Controller\\\\EventController\\:\\:initializeSearchAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Controller/EventController.php

		-
			message: "#^Parameter \\#2 \\$optionKey of method TYPO3\\\\CMS\\\\Extbase\\\\Property\\\\PropertyMappingConfiguration\\:\\:setTypeConverterOption\\(\\) expects string, int given\\.$#"
			count: 1
			path: Classes/Controller/EventController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:between\\(\\)\\.$#"
			count: 4
			path: Classes/Domain/Repository/EventRepository.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Classes/Service/FluidStandaloneService.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Classes/Service/NotificationService.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContextInterface\\:\\:getRequest\\(\\)\\.$#"
			count: 1
			path: Classes/ViewHelpers/PrefillViewHelper.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContextInterface\\:\\:getRequest\\(\\)\\.$#"
			count: 1
			path: Classes/ViewHelpers/Registration/Field/PrefillFieldViewHelper.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContextInterface\\:\\:getRequest\\(\\)\\.$#"
			count: 1
			path: Classes/ViewHelpers/Registration/Field/PrefillMultiValueFieldViewHelper.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContextInterface\\:\\:getRequest\\(\\)\\.$#"
			count: 1
			path: Classes/ViewHelpers/Validation/ErrorClassViewHelper.php

