includes:
  - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - Classes/
        - Configuration/

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
    checkGenericClassInNonGenericObjectType: false

    typo3:
        requestGetAttributeMapping:
            currentContentObject: TYPO3\CMS\Frontend\ContentObject\ContentObjectRenderer
