parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$optionKey of method TYPO3\\\\CMS\\\\Extbase\\\\Property\\\\PropertyMappingConfiguration\\:\\:setTypeConverterOption\\(\\) expects string, int given\\.$#"
			count: 1
			path: ../../Classes/Controller/EventController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:between\\(\\)\\.$#"
			count: 4
			path: ../../Classes/Domain/Repository/EventRepository.php

		-
			message: "#^Call to static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\MathUtility\\:\\:canBeInterpretedAsFloat\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: ../../Classes/Evaluation/LatitudeEvaluator.php

		-
			message: "#^Call to static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\MathUtility\\:\\:canBeInterpretedAsFloat\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: ../../Classes/Evaluation/LongitudeEvaluator.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: ../../Classes/Service/NotificationService.php

		-
			message: "#^Cannot access offset string on array\\|object\\.$#"
			count: 1
			path: ../../Classes/Validation/Validator/CaptchaValidator.php

		-
			message: "#^Cannot access offset 'tx_sfeventmgt…' on array\\|object\\.$#"
			count: 1
			path: ../../Classes/Validation/Validator/RegistrationValidator.php

		-
			message: "#^Cannot access offset string on array\\|object\\.$#"
			count: 1
			path: ../../Classes/ViewHelpers/PrefillViewHelper.php

		-
			message: "#^Cannot access offset string on array\\|object\\.$#"
			count: 1
			path: ../../Classes/ViewHelpers/Registration/Field/PrefillFieldViewHelper.php

		-
			message: "#^Cannot access offset string on array\\|object\\.$#"
			count: 1
			path: ../../Classes/ViewHelpers/Registration/Field/PrefillMultiValueFieldViewHelper.php
