includes:
  - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - ../../Classes/
        - ../../Configuration/

    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
