{namespace e=DERHANSEN\SfEventMgt\ViewHelpers}
<f:layout name="Backend" />

<f:section name="main">
    <f:if condition="{showMessage}">
        <script>
            TYPO3.Flashmessage.display(
                    TYPO3.Severity.ok,
                    '<f:translate key="{messageTitleKey}" />',
                    '<f:translate key="{messageContentKey}" />',
                    5
            );
        </script>
    </f:if>

    <h1>
        <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.title" />
    </h1>

    <f:form name="searchDemand" object="{searchDemand}">
        <h2>
            <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.settings"/>
        </h2>
        <div class="settings">
            <div class="field">
                <label for="search">
                    <f:translate key="LLL:EXT:lang/locallang_common.xlf:search" />
                </label>
                <f:form.textfield property="search" id="search"/>
                <div class="clear"></div>
            </div>

            <div class="field">
                <label for="tceforms-datetimefield-startDate">
                    <f:translate key="tx_sfeventmgt_domain_model_event.startdate"/>
                </label>
                <f:form.textfield property="startDate" id="tceforms-datetimefield-startDate"
                                  value="{searchDemand.startDate->f:format.date( format: '{settings.search.dateFormat}' )}"/>
                <f:render partial="FormErrors" arguments="{field: 'searchDemand.startDate'}"/>
                <div class="clear"></div>
            </div>

            <div class="field">
                <label for="tceforms-datetimefield-endDate">
                    <f:translate key="tx_sfeventmgt_domain_model_event.enddate"/>
                </label>
                <f:form.textfield property="endDate" id="tceforms-datetimefield-endDate"
                                  value="{searchDemand.endDate->f:format.date( format: '{settings.search.dateFormat}' )}"/>
                <f:render partial="FormErrors" arguments="{field: 'searchDemand.endDate'}"/>
                <div class="clear"></div>
            </div>

            <f:form.submit value="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:search')}" class="submit"/>
        </div>
    </f:form>

    <f:if condition="{events}">
        <f:then>
            <f:be.widget.paginate objects="{events}" as="paginatedEvents"
                                  configuration="{itemsPerPage: settings.list.itemsPerPage}">
                <table cellpadding="0" cellmargin="0" cellspacing="0" class="t3-table">
                    <thead>
                    <tr class="t3-row-header">
                        <td class="title">
                            <f:translate key="tx_sfeventmgt_domain_model_event.title"/>
                        </td>
                        <td class="startdate">
                            <f:translate key="tx_sfeventmgt_domain_model_event.startdate"/>
                        </td>
                        <td class="enddate">
                            <f:translate key="tx_sfeventmgt_domain_model_event.enddate"/>
                        </td>
                        <td class="registrationenabled">
                            <f:translate key="tx_sfeventmgt_domain_model_event.enable_registration"/>
                        </td>
                        <td class="maxparticipants">
                            <f:translate key="tx_sfeventmgt_domain_model_event.maxParticipants"/>
                        </td>
                        <td class="registrations">
                            <f:translate key="tx_sfeventmgt_domain_model_event.registrations"/>
                        </td>
                        <td class="notify">
                        </td>
                        <td class="export">
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{paginatedEvents}" as="event">
                        <f:render partial="Administration/ListItem" arguments="{event: event}"/>
                    </f:for>
                    </tbody>
                </table>
            </f:be.widget.paginate>
        </f:then>
        <f:else>
            <div class="typo3-message message-notice">
                <div class="message-body">
                    <f:translate key="admin.no_events_available"/>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>