<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <div class="callout callout-danger">
        <div class="media">
            <div class="media-left">
                <span class="icon-emphasized">
                    <core:icon identifier="actions-exclamation" />
                </span>
            </div>
            <div class="media-body">
                <h4 class="callout-title">
                    <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.settingsError.title" />
                </h4>
                <div class="callout-body">
                    <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.settingsError.description" />
                </div>
            </div>
        </div>
    </div>
</f:section>

</html>
