<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="headline">

</f:section>

<f:section name="content">
    <div class="callout callout-danger">
        <div class="media">
            <div class="media-left">
                        <span class="fa-stack fa-lg callout-icon"> <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i> </span>
            </div>
            <div class="media-body">
                <h4 class="callout-title">
                    <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.settingsError.title" />
                </h4>
                <div class="callout-body">
                    <f:translate key="LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.settingsError.description" />
                </div>
            </div>
        </div>
    </div>
</f:section>

</html>