<div class="event-registration-row radio-field">
    <label>{field.title}</label>
    <div class="radio-field-radiofields">
        <f:for each="{field.settingsForOption}" as="option">
            <label>
                <f:form.radio id="{field.uid}" property="fields.{field.uid}" value="{option.value}" checked="{e:registration.field.prefillMultiValueField(registrationField: field, currentValue: option.value)}"/>
                {option.label}
            </label>
            <div class="clear"></div>
        </f:for>
    </div>
    <div class="clear"></div>
    <f:render partial="FormErrors" arguments="{field: 'registration.fields.{field.uid}'}"/>
</div>
<br/>
