<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e="http://typo3.org/ns/DERHANSEN/SfEventMgt/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="event-registration-row">
    <label for="{field.uid}">{field.title}</label>
    <f:form.textarea id="{field.uid}" property="fields.{field.uid}" value="{e:registration.field.prefillField(registrationField: field)}" placeholder="{field.placeholder}"/><br>
    <f:render partial="FormErrors" arguments="{field: 'registration.fields.{field.uid}'}"/>
</div>

</html>