<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>A user has successfully confirmed the registration to the following event</p>

<p>{event.title} - ({f:format.date(date: event.startdate, format: '%d.%m.%Y - %H:%M')}  - {f:format.date(date: event.enddate, format: '%d.%m.%Y - %H:%M')})</p>

<p>Registration data:</p>

<ul>
    <li>Gender: {registration.gender}</li>
    <li>Firstname: {registration.firstname}</li>
    <li>Lastname: {registration.lastname}</li>
    <li>Address: {registration.address}</li>
    <li>Zip: {registration.zip}</li>
    <li>City: {registration.city}</li>
    <li>Country: {registration.country}</li>
    <li>Email: {registration.email}</li>
    <li>Phone: {registration.phone}</li>
    <li>Date of birth: {f:format.date(date: registration.dateOfBirth, format: '%d.%m.%Y')}</li>
    <li>Notes: {registration.notes}</li>

    <f:if condition="{event.price} > 0">
        <li>Price: {registration.price}</li>
        <f:if condition="{registration.priceOption}">
            <li>Price option: {registration.priceOption.title}</li>
        </f:if>
    </f:if>
</ul>


<p>Registration fields:</p>

<f:render partial="Notification/RegistrationFields" arguments="{registration: registration}"/>

</html>