<p>New registration for event: {event.title} </p>

<ul>
    <li>{registration.gender}</li>
    <li>{registration.firstname}</li>
    <li>{registration.lastname}</li>
    <li>{registration.address}</li>
    <li>{registration.zip}</li>
    <li>{registration.city}</li>
    <li>{registration.country}</li>
    <li>{registration.email}</li>
    <li>{registration.phone}</li>
    <li>{f:format.date(date: '{registration.dateOfBirth}', format: 'd.m.Y')}</li>
    <li>{registration.notes}</li>
</ul>

<p>The registration is not finished yet, as the user needs to confirm his/her registration</p>