<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Css/administration.css\')}'}">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.buttons.csh />
                </div>

                <div class="right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>

            <div class="typo3-docheader-buttons">
                <div class="left">
                    <f:link.action action="newEvent" title="{f:translate(key:'LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.newEvent')}">
                        <f:image src="{f:uri.resource(path:'Icons/tx_sfeventmgt_domain_model_event_add.gif')}" />
                    </f:link.action>
                    <f:link.action action="handleExpiredRegistrations" title="{f:translate(key:'LLL:EXT:sf_event_mgt/Resources/Private/Language/locallang_be.xlf:administration.handleExpiredRegistrations')}">
                        <f:image src="{f:uri.resource(path:'Icons/tx_sfeventmgt_domain_model_event_handle_expired.gif')}" />
                    </f:link.action>
                </div>
                <div class="right">
                    <f:be.buttons.shortcut />
                </div>
            </div>
        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody" class="event-administration">
                <f:render section="main" />
            </div>
        </div>
    </div>
</f:be.container>