.event-administration .clear {
    clear: both;
}

.event-administration .notifyhead,
.event-administration .settings {
    background-color: #EDEDED;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    padding: 12px;
    margin-bottom: 24px;
}

.event-administration .error {
    color: #ff0000;
}

.event-administration .backendForm .field,
.event-administration .settings .field {
    padding: 2px 0;
}

.event-administration .backendForm label,
.event-administration .settings .field label {
    display: block;
    float: left;
    width: 100px;
}

.event-administration .backendForm .submit,
.event-administration .settings .submit {
    margin: 5px 0 3px 100px;
}

.event-administration  .sf-event-mgt-admin-notify {
    background: url(../Icons/notify-icon.png) no-repeat;
    width: 16px;
    height: 16px
}

tr.db_list_normal td.logdate {
    width: 130px;
}

.left a:hover {
    text-decoration: none;
}