.event-administration .clear {
    clear: both;
}

.event-administration .notifyhead,
.event-administration .settings {
    background-color: #EDEDED;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    padding: 12px;
    margin-bottom: 24px;
}

.event-administration .error {
    color: #ff0000;
}

table.table .registrationenabled {
    text-align: center;
}

tr.db_list_normal td.logdate {
    width: 130px;
}

.left a:hover {
    text-decoration: none;
}

/**
 * Action Buttons
 */
.btn-events-be {
    margin-right: 5px;
}

#typo3-docheader .typo3-docheader-buttons-events-be {
    height: 38px;
}