.event-list-item {
	margin-bottom: 15px;
}

.event-registration-row,
.event-detail-row,
.event-list-row {
	margin-bottom: 5px;
}

.event-registration-label,
.event-detail-label,
.event-list-label {
	float: left;
	display: block;
	width: 150px;
	min-height: 1px;
	font-weight: bold;
}

.event-registration-value,
.event-detail-value,
.event-list-value {
	float: left;
}

.tx-sf-event-mgt .clear {
	clear: both;
}

.tx-sf-event-mgt form.registration fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.tx-sf-event-mgt form.registration label {
	display: block;
	width: 150px;
	float: left;
}

.tx-sf-event-mgt form.registration .checkbox {
    margin-left: 150px;
}

.tx-sf-event-mgt form.registration .checkbox label {
    float: none;
    width: auto;
}

.tx-sf-event-mgt form.registration .error {
	margin-left: 150px;
	color: #ff0000;
}

.tx-sf-event-mgt form.registration .submit {
	margin-left: 150px;
}