services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    DERHANSEN\SfEventMgt\:
        resource: '../Classes/*'
        exclude: '../Classes/Domain/Model/*'

    DERHANSEN\SfEventMgt\Command\CleanupExpiredCommand:
        tags:
            - name: 'console.command'
              command: 'sf_event_mgt:cleanup:expired'
              description: 'Cleanup registrations which are not confirmed and where the confirmation date is expired.'
              schedulable: true
            - name: 'console.command'
              command: 'sf_event_mgt:cleanup'
              alias: true
              schedulable: true
    DERHANSEN\SfEventMgt\Command\CleanupGdprCommand:
      tags:
        - name: 'console.command'
          command: 'sf_event_mgt:cleanup:gdpr'
          description: 'Delete registrations of expired events'
          schedulable: true
