<f:layout name="Default" />
<f:section name="main">
    <h1>Booking for Event</h1>

    <f:translate key="tx_sfeventmgt_domain_model_event.title" />: {event.title} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.description" />: {event.description} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.startdate" />: <f:format.date format="d.m.Y - H:i">{event.startdate}</f:format.date> <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.enddate" />: <f:format.date format="d.m.Y - H:i">{event.enddate}</f:format.date> <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.participants" />: {event.participants} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.price" />{event.price} {event.currency} <br>

    <f:form object="{registration}" name="registration" action="saveRegistration" arguments="{event: event}">
        <fieldset>
            <label for="firstname"><f:translate key="search-subject" /></label>
            <f:form.textfield id="firstname" property="firstname"/>

            <label for="lastname"><f:translate key="search-subject" /></label>
            <f:form.textfield id="lastname" property="lastname"/>

            <f:form.submit value="{f:translate(key:'event.submit-registration')}"/>
        </fieldset>
    </f:form>

    <f:link.action action="list" pageUid="{settings.listPid}"><f:translate key="event.backtext" /></f:link.action>
</f:section>