<f:layout name="Default" />
<f:section name="main">
    <h1>Detail for Event</h1>

    <f:translate key="tx_sfeventmgt_domain_model_event.title" />: {event.title} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.description" />: {event.description} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.startdate" />: <f:format.date format="d.m.Y - H:i">{event.startdate}</f:format.date> <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.enddate" />: <f:format.date format="d.m.Y - H:i">{event.enddate}</f:format.date> <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.location" />: {event.location.title} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.maxParticipants" />: {event.maxParticipants} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.registrations" />: {event.registration->f:count()} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.price" />: {event.price} {event.currency} <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.link" />: <f:link.page pageUid="{event.linkUrl}" target="{event.linkTarget}" title="{event.linkTitle}"><f:translate key="tx_sfeventmgt_domain_model_event.link" /></f:link.page> <br>
    <f:translate key="tx_sfeventmgt_domain_model_event.image" />
    <f:for each="{event.image}" as="image">
        <f:image src="{image.uid}" alt="" treatIdAsReference="TRUE" width="{settings.eventDetails.imageWidth}" height="{settings.eventDetails.imageHeight}" />
    </f:for>
    <br>

    <f:link.action action="list" pageUid="{settings.listPid}"><f:translate key="event.backtext" /></f:link.action>
    <f:if condition="{event.registrationPossible}">
        <f:if condition="{settings.registrationPid} !=''">
            <f:link.action action="registration" arguments="{event : event}" pageUid="{settings.registrationPid}">
                <f:translate key="event.registration"/>
            </f:link.action>
        </f:if>
    </f:if>
</f:section>