<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

	<h1><f:translate key="list.title" /></h1>

    <!-- The code below shows how you can filter events by categories. You can e.g. create an UL which acts like a select-box -->
	<f:link.action action="list" controller="Event" class="{f:if(condition: overwriteDemand.category,then: 'button button-outline', else: 'button')}"><f:translate key="event.allEvents" /></f:link.action>
    <f:for each="{categories}" as="category">
		<f:if condition="{overwriteDemand.category} == {category.uid}">
			<f:then>
				<f:link.action action="list" controller="Event" arguments="{overwriteDemand:{category: category}}" class="active button">{category.title}</f:link.action>
			</f:then>
			<f:else>
				<f:link.action action="list" controller="Event" arguments="{overwriteDemand:{category: category}}" class="button button-outline">{category.title}</f:link.action>
			</f:else>
		</f:if>
    </f:for>

    <!-- Output all events -->
    <f:if condition="{pagination}">
        <f:then>
            <f:for each="{pagination.paginator.paginatedItems}" as="event" iteration="iterator">
                <f:render partial="Event/ListItem" arguments="{_all}"/>
            </f:for>
            <f:render partial="Event/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, overwriteDemand: overwriteDemand}" />
        </f:then>
        <f:else>
            <f:for each="{events}" as="event">
                <f:render partial="Event/ListItem" arguments="{_all}"/>
            </f:for>
        </f:else>
    </f:if>


</f:section>

</html>
