# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
# Information about Settings.cfg:
#   https://docs.typo3.org/typo3cms/HowToDocument/GeneralConventions/DirectoryFilenames.html#settings-cfg
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Attention:
#   Only " ;" can start an inline comment.
#   This is: blank PLUS semicolon!
#
# #####

[general]

project     = Event management and registration
version     = 4.1
release     = 4.1.1
t3author    = Torben Hansen
copyright   = 2014 - 2019 by Torben Hansen

description = Official documentation for the TYPO3 Extension "Event management and registration"

[html_theme_options]

; for theme t3SphinxThemeRtd

#### NOTE: Fill in YOUR values in the following!

github_branch        = master
github_repository    = derhansen/sf_event_mgt

# usually an email address
project_contact      = mailto:torben@derhansen.com

# URL of online discussions, you can leave this blank
project_discussions  =

# URL of webpage of your extension (if it has one)
project_home         = https://github.com/derhansen/sf_event_mgt

# URL to Issues
project_issues       = https://github.com/derhansen/sf_event_mgt/issues

# URL of repository
project_repository   = https://github.com/derhansen/sf_event_mgt

# just leave this blank
use_opensearch       =


[intersphinx_mapping]

; Comment out what you don't use.
; Uncomment only what you actually use in crossreferencing!

# h2document    = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/
# t3coreapi     = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
# t3editors     = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
# t3extbasebook = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/Index.html
# t3install     = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
# t3l10n        = https://docs.typo3.org/m/typo3/guide-frontendlocalization/master/en-us/
# t3start       = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
# t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
# t3tca         = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
# t3templating  = https://docs.typo3.org/m/typo3/tutorial-templating-with-fluid/master/en-us/
# t3ts45        = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
# t3tsconfig    = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
# t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/