.sfeventmgt-table {
    border: 0;
    margin: 0;
}

.sfeventmgt-table th {
    width: 25%;
    font-weight: bold;
    vertical-align: top;
}

.sfeventmgt-table > thead > tr > th,
.sfeventmgt-table > tbody > tr > th,
.sfeventmgt-table > tfoot > tr > th {
    vertical-align: top;
}
